<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{tips}}</title>
</head>
<body bgcolor="DodgerBlue">
<div style="text-align:center">
<font></font><br/><font></font><br/><font></font><br/>
<font face="宋体" size="+5" color="#F0F8FF">添加影片链接</font><br/>
<font></font><br/>
<font></font><br/>
<form action ='/videos/add' method='post'>
    <input type="txt"  rows="2" cols="60" placeholder={{tips}}
    name='play_url' style="height:40px;width:500px;">
    <button type="submit" class="search-submit"
    style="height:38px;width:60px;">添加</button>
</form>
</div>
</body>
</html>